
.contact {
    background-color: #5e17eb;
    background-color:(to-right #5e17eb, to-top yellow) ;
    color: whitesmoke;
    padding: 30px;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .get-in-touch {
        font-size: 3rem;
        font-weight: bold;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: space-around;
        width: 100%;
        margin: 20px 20px;


        input {
            height: 50px;
            width:40%;
            font-size: 1.2rem;
            margin: 10px 0;
            border: none;
            outline: none;
            text-indent: 10px;
            // background-color: rgb(179, 179, 179);
        }

        textarea{
            margin: 10px 0;
            height: 140px;
            width: 40%;
            border: none;
            outline: none;
            text-indent: 10px;
            font-size: 1.2rem;
        }
        button{
            width: 40%;
            height: 55px;
            border: none;
            border-radius: 30px;
            margin: 10px 0;
            font-size: 1.3rem;
            background-color:transparent ;
            border: 2px solid  #ffffff;
            color: white;
            text-transform: uppercase;
            cursor: pointer;

        }
        button:hover{
            background-color: #ffffff;
            border: 2px solid  #000000;
            color: black;
        }

    }

    }


    @media screen and (max-width: 800px) {

        .contact {
            
            padding: 23px;
            // height: 100vh;
            
        
            .get-in-touch {
                font-size: 2.5rem;
                font-weight: bold;
            }
        
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                // justify-content: space-around;
                width: 100%;
                margin: 20px 20px;
        
        
                input {
                    
                    width:60%;
                    
                }
        
                textarea{
                    
                    height: 120px;
                    width: 60%;
            
                }

                button{
                    width: 60%;
                    position: initial;
                   
                }

            
            }
        
            }

    }

    @media screen and (max-width: 480px) {

        .contact {
            
            padding: 23px;
            // height: 100vh;
            
        
            .get-in-touch {
                font-size: 2.3rem;
                font-weight: bold;
                justify-self: flex-start;
            }

            .hey-star{
                font-size: 1.7rem;
            }
        
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                // justify-content: space-around;
                width: 100%;
                margin: 20px 20px;
        
        
                input {
                    
                    width:100%;
                    
                }
        
                textarea{
                    
                    height: 120px;
                    width: 100%;
            
                }

                button{
                    width: 100%;
                    position: initial;
                   
                }

            
            }
        
            }

    }

