

.navbar {
    height: 15vh;
    width: 100vw;
    background-color: #5a11ee;
    color: rgb(255, 255, 255);
    position: relative;
    
    .wrapper{
        padding: 10px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .item {
        display: flex;
        align-items: center;
        font-size: 18px;
        padding: 3px 8px;
        height: 65px;
        color: rgb(246, 246, 246);
        margin: 0 10px;
        // transition: all 2s linear;
        
    }

    .active {
        display: flex;
        align-items: center;
        font-size: 18px;
        padding: 3px 8px;
        height: 65px;
        color: black;
        background-color: rgb(255, 255, 255);
        // transition: all 2s linear;

    }


    .item:hover{
        background-color: #ffffff;
        // background-color: rgb(5, 5, 5);
        color: rgb(0, 0, 0);
        transition: 0.3s ease-in-out;
    }


    .left{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        font-size: 1.6rem;


    }
    // #center-right{
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    // }
    .centre{
        display: flex;
        justify-content: center;
        align-items: stretch;
        letter-spacing: 3px;
        font-size: 2em;
    }
    .right{
        display: flex;
        align-items: center;
        gap: 25px;
        margin-right: 50px;
        margin-left: 50px;

        .icons {
            display: flex;
            gap: 15px;
            cursor: pointer;
            color: #fff;

            .cartIcon{
                position: relative;
                font-size: 23px;
                span{
                    font-size: 12px;
                    width: 20px;
                    height: 20px;
                    color: black;
                    background-color: #fff;
                    border-radius: 100%;
                    position: absolute;
                    top: -12px;
                    right: -16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }
            }
        }
    }

    .icon{

        display: none;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }
}

// RESPONSIVE NAVBAR


@media screen and (max-width: 925px) {
    .navbar{

        .wrapper{

            .left{
               
                .logo{
                    margin-top: 10px;
                }
            }

            .centre, .right{
                display: none;
                background-color: aqua;
            }

        }

    

        .icon{
            margin-top: 10px;
            display: inline;
        }
    }
}



   
// @media screen and (max-width: 992px) {

//     .navbar {
     

//         .wrapper{
//             padding: 10px 40px;
        
//         }


//         .item {
            
//             font-size: 15px;
        
//             height: 65px;
            
//         }

        
//     .left{
       
//         gap: 10px;
//     }

//     .centre{
//         letter-spacing: 3px;
//         font-size: 1.5em;
//     }

//     .right{
//         gap: 10px;
//         }
//     }
    
// }


