

.cat {
    // background-color: #5e17eb ;
    background-color: orangered;
    color: white;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;

    h1{
        font-size: 2.8rem;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
    }
}

@media screen and (max-width:480px) {

    .cat {

        h1{
            font-size: 2rem;
        }
    }

    
}