.fubay-animated {
    position: relative;
    // color:  #5e17eb;
    color: rgb(235, 152, 18);
    .fubay-animated {
    position: relative;
    color:  #5e17eb;
    -webkit-text-stroke: 0.1vw rgb(235, 152, 18);
    margin-bottom: 20px;
}


.fubay-animated::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #fff;
    -webkit-text-stroke: 0vw rgb(235, 152, 18);
    border-right: 2px solid rgb(235, 152, 18);
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%,10%,100%{
        width: 0;
    }

    70%,90% {
        width: 100%;
    }
}
    -webkit-text-stroke: 0.1vw rgb(235, 152, 18);
    margin-bottom: 20px;
}


.fubay-animated::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #fff;
    -webkit-text-stroke: 0vw #fff;
    border-right: 2px solid #fff;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%,10%,100%{
        width: 0;
    }

    70%,90% {
        width: 100%;
    }
}


// .fubay-animated {
//     position: relative;
//     color:  #5e17eb;
//     -webkit-text-stroke: 0.1vw #fff;
//     margin-bottom: 20px;
// }


// .fubay-animated::before{
//     content: attr(data-text);
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 0%;
//     height: 100%;
//     color: #fff;
//     -webkit-text-stroke: 0vw #fff;
//     border-right: 2px solid #fff;
//     overflow: hidden;
//     animation: animate 6s linear infinite;
// }

// @keyframes animate {
//     0%,10%,100%{
//         width: 0;
//     }

//     70%,90% {
//         width: 100%;
//     }
// }


// RESPONSIVE BANNER ---- ANIMATED TEXT

@media screen and (max-width: 992px) {

    

    
}